<body>
<div class="container mt-3">
  <div class="mt-4 p-5 bg-success text-white rounded">
    <h1>Selección de Jugadores</h1>
    <p>Para iniciar el juego, seleccione los oponentes de acuerdo con la lista que aparece a continuación: </p>
    <div class="example-container">
      <h2>Jugadores disponibles</h2>
      <div
        cdkDropList
        #playersGameList="cdkDropList"
        [cdkDropListData]="playersGame"
        [cdkDropListConnectedTo]="[rivalsList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let player of playersGame" cdkDrag>{{player.id}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Jugadores elegidos</h2>
      <div
        cdkDropList
        #rivalsList="cdkDropList"
        [cdkDropListData]="rivals"
        [cdkDropListConnectedTo]="[playersGameList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let rival of rivals" cdkDrag>{{rival.id}}</div>
      </div>
    </div>
    <button class="btn btn-danger btn-lg rounded-pill pe-5 ps-5" (click)="start()">Iniciar Juego</button>
  </div>
</div>
</body>
<router-outlet></router-outlet>
