body{
  /*height: 560px;*/
  background-image: url("../../assets/1615546576_319724_1615546812_noticia_normal.jpg");
  background-size: cover;
}
.image{
  cursor: pointer;
}
.container {
  padding: 90px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
}

.cardsBet {
  width: 50vw;
  height: 80%;
  border: 1px solid #1d90ce;
  border-radius: 8px;
  text-align: center;
  color: #1d90ce;
  background: black;
}

.cardsPlayer {
  width: 20vw;
  height: 100%;
  border: 1px solid #1d90ce;
  border-radius: 8px;
  text-align: center;
  color: #1d90ce;
  background: black;
}

.cards {
  height: 100%;
  border: 1px solid #1d90ce;
  border-radius: 8px;
  text-align: center;
  color: #1d90ce;
}

.card-list-bet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  height: 100%;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  height: 60%;
}
.card__item img {
  width: 100%;
  object-fit: cover;
}
